<!DOCTYPE html>
<html lang="en">

<head>
    {{> student/metas }}
    <title>SRV - {{metaTags.title}}</title>
    <link rel="icon" href="/assets/img/favicon.ico">
    <meta name="description" content="{{metaTags.description}}">
    {{> student/css }}
</head>
//TODO : 
- Remove the role from welcome
- Add individual filters for qualifications in datatables
- Request parchment button for student view
- Receive parchment request notification for lecturer view
- Fix PDFs, check everywhere.
- Admin dashboard. Erase everything after first row. Make first row work function
- Add pie chart with students ready for parchments out of total of students for admin
- Add doughnut chart for requested parchments checklist out of parchment ready for admin 
<body>
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>
    {{> student/header }}
    {{{body}}}
    {{> student/js }}
    
</body>

</html>