<!DOCTYPE html>
<html lang="en">

<head>
    {{> student/metas }}
    <title>SRV - {{metaTags.title}}</title>
    <link rel="icon" href="/assets/img/favicon.ico">
    <meta name="description" content="{{metaTags.description}}">
    {{> student/css }}
</head>

<body>
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>
    {{> student/header }}
    {{{body}}}
    {{> student/js }}

</body>

</html>